extends layout

block content
  if recommendationsArray
    each recommendation in recommendationsArray
      div.ps-product-listing-container
        each product in recommendation 
          a.ps-prodcut-listing-item(href=`/product/${product.sku}` data-dy-slot-id= product.slotId)
            img.ps-prodcut-listing-item__image(src=product.image_url)
            p.ps-prodcut-listing-item__name= product.name
            p.ps-prodcut-listing-item__description= product.description
            p.ps-prodcut-listing-item__price $!{product.price.toFixed(2)}